version: "3.8"

services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-production
    ports:
      - "80:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - portfolio-network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  portfolio-network:
    driver: bridge
